<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="MySessionFactory">
  <!-- Database connection settings -->
  <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="connection.url">jdbc:mysql://127.0.0.1:3306/base</property>
  <property name="connection.username">root</property>
  <property name="connection.password"/>
  <!-- SQL dialect -->
  <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
  <!-- JDBC connection pool (use the built-in) -->
  <property name="connection.pool_size">1</property>
  <property name="current_session_context_class">thread</property>
  <!-- Disable the second-level cache -->
  <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
  <!-- Echo all executed SQL to stdout -->
  <property name="show_sql">false</property>
  <property name="hbm2ddl.auto">update</property>
  <!-- annotation fix for JBoss -->
  <property name="hibernate.validator.apply_to_ddl">false</property>
  <property name="hibernate.validator.autoregister_listeners">false</property>
  <!-- Mapping files 
  <mapping class="example1.Resource_type"/> -->
  <mapping class="model.Resource"/>
  <mapping class="model.Client"/>
  <mapping class="model.DiningRoom"/>
  <mapping class="model.Reservation"/>
  <mapping class="model.MeetingRoom"/>
  <mapping class="model.EnglishRoom"/>
  <mapping class="model.Monitor"/>
 </session-factory>
</hibernate-configuration>
