@charset "windows-1251";
body {
	margin: 0px;
	padding:0px;
	background: url(img/bg.png);
}

#block {
	width: 950px;
	height: 700px;
	background:url(img/bg_light.png) no-repeat;
	margin: 0px auto;
	padding:0px;
}

#block h1 {
	color: #FFF;
	font-size: 48px;
	text-align:center;
	padding-top: 25px;
	margin:0px;
}

#block #auth {
	width: 281px;
	height: 222px;
	margin: 100px auto 0px auto;	
	background: url(img/form_bg.png) no-repeat bottom;
}

#block #auth .head {
	text-align:center;
	color: #FFF;
	font-size: 22px;
}

#block #auth a {
	color: #0066cc;
}

#block #reservations {
	width: 700px;
	height: 222px;
	margin: 100px auto 0px auto;	
	background: url(img/reservations_bg.png) repeat-x top #C6DDFD;
}

#block #reservations .head {
	text-align:center;
	color: #666666;
	font-size: 22px;
}

#block #reservations a {
	color: #0066cc;
}

form {
	padding-top: 19px;
	height: 125px;
}

a {
	color: blue;
}

.timelineTable  td{
	border-left: 1px #CCC dashed;
	text-align: center;
	width: 20px;
}

.login-input {
	width: 206px;
	margin: 15px 35px 1px 35px;
	background: none;
	border: none;
	color: #999;
	font-style: italic;
	font-family: Georgia;
	font-size: medium;
}

.time-input {
	background: none;
	border: 1px #CCC dotted;
	color: #999;
	font-style: italic;
	font-family: Georgia;
	font-size: medium;
}

#submit {
	width: 90px;
	margin: 15px 35px 1px 35px;
	height:35px;
	border: none;
	background:url(img/button.png);
	float: right;
	cursor: pointer;
}
