<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>resource-admin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>LoginViewController</display-name>
    <servlet-name>LoginViewController</servlet-name>
    <servlet-class>controller.LoginViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginViewController</servlet-name>
    <url-pattern>/LoginViewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutController</display-name>
    <servlet-name>LogOutController</servlet-name>
    <servlet-class>controller.LogOutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutController</servlet-name>
    <url-pattern>/LogOutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationController</display-name>
    <servlet-name>ReservationController</servlet-name>
    <servlet-class>controller.ReservationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationController</servlet-name>
    <url-pattern>/ReservationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatisticView</display-name>
    <servlet-name>StatisticView</servlet-name>
    <servlet-class>view.StatisticView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticView</servlet-name>
    <url-pattern>/StatisticView</url-pattern>
  </servlet-mapping>
</web-app>